{% extends 'base.html' %}
{% load static %}
{% load Home_extras %}
{% block title %} Product Page {% endblock %}

{% block cart %}
    {{number_cart}}
{% endblock %}

{% block body %}
<div class="main">
    <div class="content">
        <div class="content-first">
            <div class="content-order">
                <div class="order-tittle">
                    <h4>Giỏ Hàng</h4>
                </div>
                <div class="order-details">
                {% comment %}  {% endcomment %}
                {% for cart in data %}
                    <form class="order-row" action ="" method="post">
                    {% csrf_token %}
                    <input type="number" value = "{{cart.id}}" id="" name="delete_id" hidden>

                        <div class="order-row-left">
                            <div class="order-row-img">
                                <img src="{% static cart.img %}" alt="">
                            </div>
                            <div class="order-row-details">
                                <h4>{{ cart.name }}</h4>
                                <div class="row-details-items">
                                    <span class="row-items-tittle">Hãng: </span>
                                    <span>{{cart.brand}}</span>
                                </div>
                                <div class="row-details-items">
                                    <span class="row-items-tittle">Dung lượng:</span>
                                    <span>{{cart.ram}}GB/{{cart.rom}}GB</span>
                                </div>
                                <div class="row-details-items-price">
                                    <span class="row-details-items-sale-price">{{cart.old_price}}</span>
                                    <span class="row-details-items-regular-price">{{cart.new_price}}</span>
                                </div>
                                <div class="row-details-items-quantity-details">
                                    <input type="text" value = " {{cart.amount}} ">
                                    <div class="quantity-navigation">
                                        <div class="quantity-inc"><i class='bx bx-chevron-up'></i></div>
                                        <div class="quantity-dec"><i class='bx bx-chevron-down'></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-row-right">
                            <div class="order-right-price">
                                <span class="sale-price">{{cart.old_price}}</span>
                                <span class="regular-price">{{cart.new_price}}</span>
                            </div>
                            <div class="order-right-quantity">
                                <span>SL</span>
                                <div class="quantity-details">
                                    <input type="text" value = " {{cart.amount}} ">
                                    <div class="quantity-navigation">
                                        <div class="quantity-inc"><i class='bx bx-chevron-up'></i></div>
                                        <div class="quantity-dec"><i class='bx bx-chevron-down'></i></div>
                                    </div>
                                </div>
                            </div>
                            <button class="order-right-remove" type="submit">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </form>
                
                {% endfor %}
                    
                </div>
            </div>
            <div class="content-summary">
                <div class="summary-tittle">
                    <h4>tóm tắt thanh toán</h4>
                </div>
                <div class="summary-details">
                    <div class="summary-discount">
                        <div class="check-login">
                            <span>Xin Chào, Trương Thành Đại!</span>
                        </div>
                        <div class="summary-code">
                            <span class="code-tittle">Mã giao dịch</span>
                            <span class="code-details">ABC1245E</span>
                        </div>
                        <div class="summary-input">
                            <input type="text" placeholder="nhập mã giảm giá của bạn">
                            <button class="submit-discount">áp dụng</button>
                        </div>
                    </div>
                    <div class="summary-border"></div>
                    <div class="summary-price">
                        <div class="summary-price-items">
                            <span class="summary-price-tittle">đơn hàng</span>
                            <span class="summary-price-details">134.999.000đ</span>
                        </div>
                        <div class="summary-price-items">
                            <span class="summary-price-tittle">giảm giá</span>
                            <span class="summary-price-sale">43.000.000đ</span>
                        </div>
                        <div class="summary-price-items">
                            <span class="summary-price-tittle">phí dịch vụ</span>
                            <span class="summary-price-service">1.000.000đ</span>
                        </div>
                        <div class="summary-price-items">
                            <span class="summary-price-tittle">tổng cộng</span>
                            <span class="summary-price-details">135.430.000đ</span>
                        </div>
                    </div>
                    <div class="summary-border"></div>
                    <div class="summary-save">
                        <p>bạn đã tiết kiệm được <span class="price-save">43.999.000đ</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-mid">
            <div class="content-delivery">
                <div class="delivery-tittle">
                    <h4>hình thức giao hàng</h4>
                </div>
                <div class="delivery-details">
                    <div class="delivery-row">
                        <div class="delivery-box">
                            <div class="delivery-check">
                                <div class="delivery-box-check">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                            </div>
                            <div class="delivery-box-details">
                                <div class="delivery-box-logo">
                                    <img src="{% static 'image/gh-grap.png' %}" alt="">
                                </div>
                                <div class="delivery-description">
                                    <span class="delivery-name">grab express</span>
                                    <span>Ngày giao dự kiến : 10/04/2022</span>
                                </div>
                                <div class="delivery-price">
                                    25.000đ
                                </div>
                            </div>
                        </div>
                        <div class="delivery-box">
                            <div class="delivery-check">
                                <div class="delivery-box-check">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                            </div>
                            <div class="delivery-box-details">
                                <div class="delivery-box-logo">
                                    <img src="{% static 'image/gh-ghn.png' %}" alt="">
                                </div>
                                <div class="delivery-description">
                                    <span class="delivery-name">GHN express</span>
                                    <span>Ngày giao dự kiến : 10/04/2022</span>
                                </div>
                                <div class="delivery-price">
                                    25.000đ
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="delivery-row">
                        <div class="delivery-box">
                            <div class="delivery-check">
                                <div class="delivery-box-check">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                            </div>
                            <div class="delivery-box-details">
                                <div class="delivery-box-logo">
                                    <img src="{% static 'image/gh-ghtk.png' %}" alt="">
                                </div>
                                <div class="delivery-description">
                                    <span class="delivery-name">giao hàng tiết kiệm</span>
                                    <span>Ngày giao dự kiến : 10/04/2022</span>
                                </div>
                                <div class="delivery-price">
                                    25.000đ
                                </div>
                            </div>
                        </div>
                        <div class="delivery-box">
                            <div class="delivery-check">
                                <div class="delivery-box-check">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                            </div>
                            <div class="delivery-box-details">
                                <div class="delivery-box-logo">
                                    <img src="{% static 'image/gh-shopee.png' %}" alt="">
                                </div>
                                <div class="delivery-description">
                                    <span class="delivery-name">shoppe express</span>
                                    <span>Ngày giao dự kiến : 10/04/2022</span>
                                </div>
                                <div class="delivery-price">
                                    25.000đ
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-service">
                <div class="service-tittle">
                    <h4>Dịch Vụ Thêm</h4>
                </div>
                <div class="service-details">
                    <div class="service-box">
                        <div class="service-description">
                            <h4>care+ packet</h4>
                            <span>Một năm CSKH </span>
                        </div>
                        <div class="service-price">
                            <span>1.000.000đ</span>
                        </div>
                        <div class="service-check">
                            <div class="service-check-action">
                                <div class="service-check-action-icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="service-box">
                        <div class="service-description">
                            <h4>BV môi trường</h4>
                            <span>Đóng gói bằng vật liệu thân thiện</span>
                        </div>
                        <div class="service-price">
                            <span>2.000.000đ</span>
                        </div>
                        <div class="service-check">
                            <div class="service-check-action active">
                                <div class="service-check-action-icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="service-box">
                        <div class="service-description">
                            <h4>gói bảo hành</h4>
                            <span>30 ngày đổi trả sản phẩm</span>
                        </div>
                        <div class="service-price">
                            <span>3.000.000đ</span>
                        </div>
                        <div class="service-check">
                            <div class="service-check-action">
                                <div class="service-check-action-icon"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="content-last">
            <div class="content-checkout">
                <div class="content-info">
                    <div class="content-info-logo">
                        <i class='bx bxs-face'></i>
                    </div>
                    <div class="content-info-details">
                        <div class="content-info-description">
                            <span class="name">châu quốc thanh</span>
                            <span class="phone">- 0908914657</span>

                        </div>

                        <span class="address">273 An Dương Vương, Phường 3, Quận 5, Thành phố Hồ Chí Minh</span>
                    </div>
                    <div class="content-info-change">
                        <h4>thay đổi</h4>
                    </div>
                </div>
                <div class="content-address">
                    <div class="content-address-tittle">
                        <div class="address-logo">
                            <i class='bx bxs-truck'></i>
                        </div>
                        <div class="address-details">
                            <h4>địa chỉ giao hàng</h4>
                        </div>
                        <div class="address-remove">huỷ</div>
                    </div>
                    <div class="content-address-wrapper">
                        <div class="content-address-details">
                            <div class="content-address-row">
                                <div class="content-address-row-input">
                                    <label for="">Địa chỉ mới (*)</label>
                                    <input type="text">
                                </div>
                                <div class="content-address-row-input">
                                    <label for="">SĐT mới</label>
                                    <input type="text">
                                </div>
                                <div class="content-address-submit">
                                    <div class="address-submit-confirm">lưu</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}